body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 500px;
    background-color:rgb(83, 150, 100) ;                       
}
form {
    display: grid;
    background-color: rgb(179, 179, 227);
    padding: 50px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 8px;
    width: 500px;
    height: 300px;
    justify-content: center; 
    align-items: center;  
}