body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 500px;
    background-color: rgb(244, 248, 211);                       
}
form {
    display: grid;
    background-color: rgb(187, 228, 174);
    padding: 50px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 8px;
    width: 500px;
    height: 300px;
    justify-content: center; 
    align-items: center;  
}

.navbar {
    background-color: rgb(181, 233, 253); 
}