body {
    background-color:rgb(111, 139, 178) ;                       
}
.form1 {
    display: grid;
    grid-template-columns: 200px;
    background-color: rgb(179, 179, 227);
    padding: 20px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 8px;
    width: 1325px;
    height: 300px;
    justify-content: center; 
    align-items: center;  
}
