{% extends 'adminpanel/base.html' %}
{% load static %}            
{% block Home %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded mx-0">
        <div class="text-center">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">messages</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">First_name</th>
                                    <th scope="col">Last_name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ms in contact_msg %}
                                <tr>
                                    <td>{{ ms.first_name }}</td>
                                    <td>{{ ms.last_name }}</td>
                                    <td>{{ ms.email }}</td>
                                    <td>{{ ms.message }}</td>
                                    <td>{{ ms.created_at }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    history.pushState(null, null, location.href);
    window.addEventListener("popstate", function () {
        window.location.href = "{% url 'sindex' %}";
    });
</script>


{% endblock Home %}