{% extends 'adminpanel/base.html' %}
{% load static %}            
{% block Home %} 
<div class="container mt-4">
    <h2>Order #{{ order.payment.razorpay_order_id }}</h2>
    <p><strong>User:</strong> {{ order.user}}</p>
    <p><strong>Customer:</strong> {{order.name}}</p>
    <p><strong>Address:</strong> {{order.locality}},{{order.city}},pin:{{order.zipcode}},{{order.state}} ,Phone:{{order.mobile}}</p>
    <p><strong>Status:</strong> <span class="badge bg-warning">{{ order.status }}</span></p>
    <p><strong>Payment:</strong> {% if order.payment.paid %} Paid{% else %} Not Paid{% endif %}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for ao in allorder %}
                <tr>
                    <td><img src="{{ao.product_image_url}}" alt="Image" class="img-fluid" style="width:80px; height:80px; object-fit:cover;"></td>
                    <td>{{ ao.product.title }}</td>
                    <td>{{ ao.quantity }}</td>
                    <td>₹{{ ao.product.price }}</td>
                    <td>₹{{ ao.total_cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="mt-3">Order Summary</h4>
    <p><strong>Product Amount:</strong> ₹{{ torder }}</p>
    <p><strong>Discount Amount:</strong> ₹{% if order.payment.discount_applied %} {{order.payment.discount_applied}} {% else %} 0 {% endif %}</p>
    <p><strong>Tax Amount:</strong> ₹{{ order.payment.tax }}</p>
    <p><strong>Total Amount:</strong> ₹{{ order.payment.amount }}</p>
</div>
<script>
    history.pushState(null, null, location.href);
    window.addEventListener("popstate", function () {
        window.location.href = "{% url 'sindex' %}";
    });
</script>
{% endblock %}
