{% extends 'userpanel/base.html' %}
{% load static %}

    {% block Home %}
        <div class="col">
            <div class="login_form_inner">
                <h3>Reset Password</h3>
                <p>An Email has been sent to reset your password <b>Please check your mail</b></p>

            </div>
        </div>
    <script>
        // Redirect to index page when user presses browser back button
        history.pushState(null, null, location.href);
        window.addEventListener("popstate", function () {
            window.location.href = "{% url 'index' %}";
        });
    </script>
    {% endblock Home %}

