{% extends 'userpanel/base.html' %}
{% load static %}

    {% block Home %}
    <div class="untree_co-section">
      <div class="container">

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-3">            
                <ul class="nav flex-column nav-pills">
                </ul>
                </div>
                <div class="col-md-9">
                    <h3>Password Changed Successfully !!!</h3>
                    <img src="{% static 'userpanel/images/success1.gif' %}" alt="Image" class="img-fluid">
                </div>
                <p><a href="{% url 'profile'%}" type="button" class="primary-btn">Back</a></p>
            </div>

        </div>

    </div>
    <script>
        // Redirect to index page when user presses browser back button
        history.pushState(null, null, location.href);
        window.addEventListener("popstate", function () {
            window.location.href = "{% url 'index' %}";
        });
    </script>
    {% endblock Home %}
